<div class="row">
  <div class="span7">
    <h4>About</h4>

      <p text align="justify"></p>

      <p text align="justify">We have an indoor and outdoor arena, round pen and spacious turn outs for our horses. Also bathroom and lounge/office area</p>
  </div>
  <div class="span0">
  </div>
  <div class="span5">
    <%= image_tag("tile2.jpg") %>
   </div>
</div>

