<div class="row">
	<div class="span7">
		<h4>Contact</h4>
			<p text align="justify">Our Location: S3660 north Washington street, Danville, Indiana</p>
			<p>Contacts: Josh Roberts (317) 509-1207</p>
			<p>Trainer/Owner: Jenn Roberts (317) 519-9357<p>
			<p>Farm Manager/Co-OwnerEmail: letemlopehorses@gmail.com</p>
	</div>
	<div class="span0">
  </div>
  <div class="span5">
    <%= image_tag("tile2.jpg") %>
   </div>
</div>

