<div class="row">
	<div class="span7">
		<h4>For Sale</h4>
			<p text align="justify">Please contact Jenn or Josh for prospects currently for sale, while this page is under construction.</p>
	</div>
	<div class="span0">
  </div>
  <div class="span5">
    <%= image_tag("tile2.jpg") %>
   </div>
</div>
