<div class="row">
	<div class="span7">
		<h4>Home</h4>
			<p text align="justify">Let ‘em Lope Performance Horses aims to produce first-rate show horses, while creating a fulfilling experience for our clients. We specialize in all-around horses with a western pleasure foundation. Training, lessons, and quality horses are always available.</p>

			<p text align="justify">We are located just north of town off Washington Street in Danville, Indiana.</p>

			<p text align="justify">Our facilities and atmosphere are family and youth friendly, offering a great experience for all levels of riders. Please feel free to contact us with any of your questions!</p>

			<p>Make an appointment today and come on out and meet us!</p>

			<p>317-509-1207!</p>
	</div>
	<div class="span0">
  </div>
  <div class="span5">
    <%= image_tag("tile2.jpg") %>
   </div>
</div>
