<div class="row">
	<div class="span7">
		<h4>Services</h4>
			<p text align="justify">We specialize in professional western pleasure training, along with breaking, and initiating the start on yearlings from their foundation. We also accept and begin progress with correcting “problem” horses. We have acquired a broad knowledge in various areas of equestrian training and riding techniques, in our many years of experience.</p>

			<p text align="justify">We strive for ultimate success with each individual horse. We pride our selves in molding an amazing horse personalized for each one of our customers, which is a science that we have discovered and perfected.</p>

			<p text align="justify">We provide full service care to our customer’s horses, while in training, which includes a special feeding regimen, which includes four feedings daily, with all TRIBUTE feed products and excellent alfalfa hay. All horses are blanketed during cold weather, along with lights and heat lights scheduled by a timer.</p>

			<p text align="justify">We offer a variety of packages for both lessons and training. If you are interested, please contact us for availability, pricing, and contracts.</p>

			<p>Lesson are offered by an hourly rate or as a monthly package.</p>

			<p>317-509-1207!</p>
	</div>
	<div class="span0">
  </div>
  <div class="span5">
    <%= image_tag("tile2.jpg") %>
   </div>
</div>
